
/*Шрифт*/
@import './nouislider.css';

@font-face {
  font-family: "Kelson Sans RU";
  src: url("../fonts/Kelson\ Sans\ RU\ Regular.eot");
  src: local("☺"), url("../fonts/Kelson\ Sans\ RU\ Regular.woff") format("woff"), url("../fonts/Kelson\ Sans\ RU\ Regular.ttf") format("truetype"), url("../fonts/Kelson\ Sans\ RU\ Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Переменные*/

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Kelson Sans RU";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*---------Helper classes-----------*/
.hidden {
  display: none;
}

/*--------------------*/
._container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 135px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/*---------Catalog Header-----------*/
.header__title {
  text-align: center;
  margin-top: 10px;
}
.header__name {
  font-size: 36px;
  line-height: 45px;
  color: #374044;
}

/*---------Options-----------*/
.options {
  margin: 25px 0px 0px 0px;
  border-bottom: 4px solid #f3f3f3;
  border-radius: 2px;
}
.options__item {
  position: relative;
}
.options__item:first-child {
  padding: 0px 50px 0px 0px;
}
.options__img {
  position: absolute;
}
.options__img-1 {
  top: 2px;
}
.options__img-2 {
  top: -3px;
}
.options__link {
  padding: 0px 0px 8px 44px;
  font-size: 20px;
  line-height: 25px;
  color: #545c60;
  white-space: nowrap;
}

.active {
  color: #27a8dd;
  border-bottom: 4px solid #27a8dd;
  border-radius: 2px;
  padding-bottom: 8px;
}

.optoins__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 8px 0px;
}

.filter__button {
  margin: 30px 0px 0px 0px;
  padding: 22px 0px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(126.69deg, #27A8DD 0%, #1A7FB8 100%);
  width: 100%;
  border-radius: 8px;
}

.filter__button_box {
  content: url("../img/filters.svg");
  position: absolute;
  top: 31%;
  left: 38%;
  width: 24px;
  height: 24px;
}

/*---------Filters-----------*/
.catalog-products-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-filters {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 900px;
          flex: 0 1 900px;
  margin-top: 34px;
}
.products-filters__button {
  margin: 0px 0px 20px 0px;
  padding: 22px 0px;
  color: #abb3b7;
  font-size: 16px;
  line-height: 20px;
  background-color: #f3f3f3;
  width: 100%;
  border-radius: 8px;
}

.filters {
  margin-bottom: 23px;
}
.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.filters__item {
  line-height: 20px;
  font-size: 16px;
}
.filters__item:not(:last-child) {
  padding: 0px 32px 0px 0px;
}
.filters__link {
  color: #545c60;
  white-space: nowrap;
}
.filters__link_grey {
  color: #abb3b7;
}
.filters__link_active {
  color: #27a8dd;
}
.filters__link_active::after {
  content: url("../img/triangle.svg");
  position: absolute;
  top: -3px;
  padding-left: 9px;
  width: 10px;
  height: 5px;
}

/*---------Products-----------*/
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 270px;
  margin: 0px 30px 0px 0px;
}
.products__icon {
  border-radius: 8px;
}
.products__price {
  padding: 16px 0px 0px 0px;
  font-size: 16px;
  line-height: 19px;
}
.products__text {
  padding: 8px 0px 30px 0px;
  font-size: 16px;
  line-height: 19px;
}

.grey {
  color: #abb3b7;
}

.rub {
  line-height: 5px;
  width: 0.4em;
  border-bottom: 1px solid #000;
  display: inline-block;
}

/*---------Sorting-----------*/
.sorting-form {
  max-width: 270px;
  margin-top: 32px;
}

.sorting__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sorting__title {
  font-size: 24px;
  line-height: 29px;
  padding: 0px 82px 0px 0px;
}
.sorting__subtitle {
  font-size: 14px;
  line-height: 18px;
  padding: 8px 0px 0px 0px;
}
.sorting__link {
  color: #acacac;
  position: relative;
}
.sorting__link::after {
  content: url("../img/x.svg");
  position: absolute;
  padding-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form {
  margin-top: 16px;
  border: 1px solid #E7E7E7;
  border-radius: 8px;
}
.form__item {
  padding: 23px 0px 0px 24px;
}

.form-price__title {
  padding: 0px 0px 16px 0px;
  font-size: 16px;
  line-height: 20px;
  color: #374044;
}
.form-price__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-price__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 112px;
  height: 40px;
  border: none;
  padding: 0px 10px;
  border-radius: 4px;
  background-color: #f3f3f3;
}
.form-price__label:last-child {
  width: 102px;
  margin-right: 22px;
}
.form-price__label:not(:last-child) {
  margin-right: 8px;
}
.form-price__text {
  color: #abb3b7;
  padding-right: 3px;
}
.form-price__input {
  background-color: #f3f3f3;
  color: #555657;
  font-size: 14px;
  line-height: 18px;
}
.form-price__slider {
  margin-top: 23px;
  width: 222px;
}

.noUi-target {
  background-color: #F3F3F3;
  border: none;
  border-radius: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 2px;
}

.noUi-connect {
  background-color: #27A8DD;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-handle {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 100%;
  background-color: #E7E7E7;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  top: -10px;
}

.option {
  display: block;
}

.check__title {
  padding: 41px 0px 20px 24px;
  font-size: 16px;
  line-height: 20px;
  color: #374044;
}
.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check__input:checked + .check__box {
  background-image: url("../img/checkbox-on.svg");
  position: absolute;
  top: -3px;
}
.check__box {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-disable.svg");
  margin-left: -30px;
  top: -2px;
  background-repeat: no-repeat;
}
.check__label {
  padding-left: 50px;
  padding-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
  color: #374044;
  position: relative;
}

/**RADIO**/
.radio__title {
  padding: 15px 0px 26px 24px;
  font-size: 16px;
  line-height: 20px;
  color: #374044;
}
.radio__label {
  padding-left: 50px;
  padding-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
  color: #374044;
  position: relative;
}
.radio__label:last-child {
  padding-bottom: 26px;
}
.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.radio__input:checked + .radio__box {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}
.radio__box {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/radio-disable.svg");
  margin-left: -30px;
  top: -3px;
  background-repeat: no-repeat;
}

/*--------------Media 1024-----------*/
@media screen and (max-width: 1430px) {
  ._container {
    max-width: 1170px;
    padding: 0px 50px;
  }
}
@media screen and (max-width: 1024px) {
  ._container {
    max-width: 930px;
    padding: 0px 47px;
  }

  .products-filters {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 610px;
            flex: 1 1 610px;
  }

  .products__item {
    min-width: 290px;
    margin: 0px 30px 0px 0px;
  }
  .products__icon img {
    width: 100%;
  }

  .sorting-form {
    min-width: 290px;
  }

  .sorting__title {
    padding: 0px 102px 0px 0px;
  }
}
/*--------------Media 768----------------*/
@media screen and (max-width: 768px) {
  ._container {
    max-width: 676px;
    padding: 0px 45px;
  }

  .products-filters {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .products__item {
    min-width: 323px;
  }
  .products__item:nth-child(2) {
    margin: 0px 0px;
  }
  .products__item:nth-child(4) {
    margin: 0px 0px;
  }
  .products__item:nth-child(6) {
    margin: 0px 0px;
  }
  .products__item:nth-child(8) {
    margin: 0px 0px;
  }

  .filter__button_box {
    display: block;
  }
}
/*-------------Media 320----------------*/
@media screen and (max-width: 320px) {
  ._container {
    max-width: 290px;
    padding: 0px 15px;
    overflow: hidden;
  }

  .products-item {
    max-width: 290px;
    margin: 0px 0px 0px 0px;
  }

  .products__icon img {
    width: 290px;
  }

  .header__name {
    font-size: 36px;
    line-height: 43px;
  }

  .options__item:first-child {
    padding: 0px 26px 0px 0px;
  }

  .filter__button_box {
    top: 33%;
    left: 20%;
  }

  .filters__item:first-child {
    padding: 0px 0px;
  }

  .filters__link_grey {
    display: none;
    padding: 0px 0px;
  }

  .products-filters__button {
    width: 290px;
  }
}